*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 70%;
    height: 90vh;
    border: 1px solid black;
display: flex;
align-items: center;
justify-content: center;
gap: 28px;

}


.middleboxes{
display: flex;
flex-direction: column;
gap: 28px;
justify-content: space-between;
padding: 10px;


}

.photo{
    align-self: flex-end;
}

.box{
    width: 295px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
background: #FFF;
border-top: 5px solid aqua;
box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
}
 
.low{
    color: #4D4F62;
font-family: Poppins;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 23px; /* 176.923% */
letter-spacing: 0.09px;
}

